<div class="container">
    
    <footer class="footer text-center text-lg-start bg-light text-muted">
        <!-- social -->
        <section
          class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
          
          <div class="social me-5 d-none d-lg-block">
            <span>Encontre-nos nas redes sociais!</span>
          </div>
          
          <div>
            <a href="https://www.facebook.com/" target="_blank" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.youtube.com/" target="_blank" class="me-4 text-reset">
                <i class="fab fa-youtube"></i>
              </a>
          </div>
        </section>


        <section>
            <!-- Logo  -->
            <div class="container text-center text-md-start mt-5">           
                <div class="row mt-3">       
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <img src="src/assets/imgs/org-logo.png" alt="logo">
                    <p>
                    Da terra direto para sua casa.
                    </p>
            </div>
              
              <!-- Produtos -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                  Produtos
                </h6>
                <p>
                  <a href="#!" class="text-reset">Carne e Ovos</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Laticinios e Bebidas</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Mercearia</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Frescos</a>
                </p>
            </div>
              
              <!-- Links uteis -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                  Links Úteis
                </h6>
                <p>
                  <a href="#!" class="text-reset">Quem Somos</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Cadastrar</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Logar</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Dúvidas Frequentes</a>
                </p>
            </div>
              
    
              <!-- Contato -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                  Contato
                </h6>
                <p><i class="fas fa-home me-3"></i> São Paulo, Brasil</p>
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  contato@meuorganico.com
                </p>
                <p><i class="fab fa-whatsapp"></i>(11) 99999-9999</p>
              </div>
            </div>
          </div>
        </section>

      </footer>
</div>
