<div class="container">
    <nav class="menu navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
            <img src="src/assets/imgs/org-logo.jpg" alt="logo-meu organico">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Quem Somos</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Produtos
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Carnes e Ovos</a>
                <a class="dropdown-item" href="#">Laticínios e Bebidas</a>
                <a class="dropdown-item" href="#">Mercearia</a>
                <a class="dropdown-item" href="#">Frescos</a>
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/login">Entrar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/cadastro">Cadastrar</a>
            </li>
          </ul>
          <a class="form-inline my-2 my-lg-0">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </div>
      </nav>
</div>

